$font-size: calc(0.8rem + 0.2vw) !default
$font-weight: 400 !default
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !default
$heading-weight: 600 !default
$line-height: 1.6 !default
$link-color: #000000 !default
$dark: #000000 !default
$new-dark: #D1D8BE
$new-bg: #D1D8BE
$light: #ffffff !default

@function reduce ($percent)
  @return rgba(mix($dark, $light), $percent / 100)
